*~
build/
apidocs/
Doxyfile
*.patch
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CMakeLists.txt.user
CMakeLists.txt.user.*
.clang-format
/build*/
cmake-build-debug*
.idea
/compile_commands.json
.clangd
.cache
