#  SPDX-FileCopyrightText: 2021 Aleix Pol Gonzalez <aleixpol@kde.org>
#  SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Open System Settings
Name[az]=Sistem Ayarlarını açın
Name[ca]=Obre l'Arranjament del sistema
Name[cs]=Otevřít nastavení systému
Name[el]=Άνοιγμα ρυθμίσεων συστήματος
Name[en_GB]=Open System Settings
Name[es]=Abrir las preferencias del sistema
Name[eu]=Ireki Sistemako ezarpenak
Name[fr]=Ouvrir la configuration du système
Name[ia]=Aperi Preferentias de Systema
Name[it]=Apri le impostazioni di sistema
Name[ko]=시스템 설정 열기
Name[nl]=Systeeminstellingen openen
Name[pl]=Otwórz ustawienia systemowe
Name[pt]=Abrir a Configuração do Sistema
Name[pt_BR]=Abrir configurações do sistema
Name[sk]=Otvoriť Systémové nastavenia
Name[sl]=Odpri sistemske nastavitve
Name[sv]=Öppna systeminställningar
Name[uk]=Відкрити «Системні параметри»
Name[x-test]=xxOpen System Settingsxx
MimeType=x-scheme-handler/systemsettings
Exec=plasma-open-settings %u
Icon=systemsettings
Type=Application
NoDisplay=true
