[Desktop Entry]
Encoding=UTF-8
Icon=filetypes
Type=Application
Exec=kcmshell filetypes
DocPath=kcontrol/filetypes/index.html
Categories=Qt;KDE;X-KDE-settings-components;


X-KDE-Library=filetypes
X-KDE-ParentApp=kcontrol

Name=File Associations

Comment=Configure file associations

Keywords=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern

