[Desktop Entry]
Icon=preferences-desktop-filetype-association
Type=Application
NoDisplay=true
Exec=systemsettings kcm_filetypes

Name=File Associations
Name[af]=Lêer Assosiasies
Name[ar]=ارتباطات الملفّات
Name[as]=নথিপত্ৰৰ সম্বন্ধ
Name[az]=Fayl Bağlantıları
Name[be]=Асацыяцыі файлаў
Name[be@latin]=Poviazi dla fajłaŭ
Name[bg]=Файлови асоциации
Name[bn]=ফাইল অ্যাসোসিয়েশন
Name[bn_IN]=ফাইল-অ্যাপ্লিকেশন জুটি
Name[br]=Kevreañ restroù
Name[bs]=Pridruženja datotekema
Name[ca]=Associacions de fitxers
Name[ca@valencia]=Associacions de ficher
Name[cs]=Asociace souborů
Name[csb]=Pòwiązania lopków
Name[cy]=Cysylltiadau Ffeiliau
Name[da]=Filtilknytninger
Name[de]=Dateizuordnungen
Name[el]=Συσχετίσεις αρχείων
Name[en_GB]=File Associations
Name[eo]=Dosierasocioj
Name[es]=Asociaciones de archivos
Name[et]=Failide seosed
Name[eu]=Fitxategi-elkartzeak
Name[fa]=تداعی کاربردهای پرونده
Name[fi]=Tiedostokytkökset
Name[fr]=Associations de fichiers
Name[fy]=Triemassosjaasjes
Name[ga]=Comhcheangail Chomhaid
Name[gl]=Asociacións de ficheiros
Name[gu]=ફાઇલ જોડાણો
Name[he]=שיוכי קבצים
Name[hi]=फ़ाइल असोसिएशन
Name[hne]=फाइल असोसिएसन
Name[hr]=Pridruživanje datoteka
Name[hsb]=Datajowe asociacije
Name[hu]=Fájltársítások
Name[ia]=Associationes de file
Name[id]=Keterkaitan File
Name[is]=Skráavensl
Name[it]=Associazioni dei file
Name[ja]=ファイルの関連付け
Name[ka]=ფაილთა მიბმა
Name[kk]=Файл сәйкестіктері
Name[km]=​ទំនាក់​ទំនង​ឯកសារ
Name[kn]=ಕಡತ ಸಾಹಚರ್ಯಗಳು
Name[ko]=파일 연결
Name[ku]=Têkiliyên Pelan
Name[lt]=Failų sąsajos
Name[lv]=Failu asociācijas
Name[mai]=फाइल असोसिएशन
Name[mk]=Асоцијации на датотеки
Name[ml]=ഫയല്‍ ബന്ധപ്പെടുത്തലുകള്‍
Name[mr]=फाईल संलग्नता
Name[nb]=Filtilknytninger
Name[nds]=Datei-Toornen
Name[ne]=फाइल संयोजन
Name[nl]=Bestandsassociaties
Name[nn]=Filtilknytingar
Name[oc]=Associacions de fichièrs
Name[or]=ଫାଇଲ ସଂସ୍ଥା
Name[pa]=ਫਾਈਲ ਸਬੰਧ
Name[pl]=Skojarzenia plików
Name[pt]=Associação de Ficheiros
Name[pt_BR]=Associações de arquivos
Name[ro]=Asociere fișiere
Name[ru]=Привязки файлов
Name[se]=Fiilačatnagasat
Name[si]=ගොනු සහායක
Name[sk]=Asociácie súborov
Name[sl]=Datotečne asociacije
Name[sr]=Придружења фајловима
Name[sr@ijekavian]=Придружења фајловима
Name[sr@ijekavianlatin]=Pridruženja fajlovima
Name[sr@latin]=Pridruženja fajlovima
Name[sv]=Filbindningar
Name[ta]=கோப்பு தொடர்புகள்
Name[te]=దస్త్రపు సంభందములు
Name[tg]=Муносибати файлҳо
Name[th]=กำหนดการใช้แฟ้ม
Name[tr]=Dosya İlişkilendirmeleri
Name[ug]=ھۆججەت باغلىنىش
Name[uk]=Прив’язка файлів
Name[uz]=Fayl turi bilan\nbogʻliqlar
Name[uz@cyrillic]=Файл тури билан\nбоғлиқлар
Name[vi]=Liên kết tệp
Name[wa]=Assoçnaedje des fitchîs
Name[xh]=Uyelemaniso Lwefayile
Name[x-test]=xxFile Associationsxx
Name[zh_CN]=文件关联
Name[zh_TW]=檔案關聯

