[Desktop Entry]
Name=keditfiletype
Name[ca]=keditfiletype
Name[cs]=keditfiletype
Name[es]=keditfiletype
Name[gl]=keditfiletype
Name[id]=keditfiletype
Name[it]=keditfiletype
Name[lt]=keditfiletype
Name[nl]=keditfiletype
Name[nn]=keditfiletype
Name[pt]=keditfiletype
Name[pt_BR]=keditfiletype
Name[sk]=keditfiletype
Name[sv]=filtypeditor
Name[uk]=keditfiletype
Name[x-test]=xxkeditfiletypexx
Name[zh_TW]=keditfiletype
GenericName=File Type Editor
GenericName[ca]=Editor pels tipus de fitxer
GenericName[cs]=Editor typu souboru
GenericName[es]=Editor de tipo de archivo
GenericName[gl]=Editor de tipos de ficheiro
GenericName[id]=Pengedit Tipe File
GenericName[it]=Editor dei tipi di file
GenericName[lt]=Failų tipų redaktorius
GenericName[nl]=Bewerker van bestandstype
GenericName[nn]=Filtyperedigering
GenericName[pt]=Editor de Tipos de Ficheiros
GenericName[pt_BR]=Editor de tipo de arquivo
GenericName[sk]=Editor súborových typov
GenericName[sv]=Filtypeditor
GenericName[uk]=Редактор типів файлів
GenericName[x-test]=xxFile Type Editorxx
GenericName[zh_TW]=檔案類型編輯工具
Exec=keditfiletype5
Icon=preferences-desktop-filetype-association
Type=Application
Terminal=false
NoDisplay=true
