[Desktop Entry]
Name=keditfiletype
Name[az]=keditfiletype
Name[ca]=keditfiletype
Name[cs]=keditfiletype
Name[da]=keditfiletype
Name[de]=keditfiletype
Name[el]=keditfiletype
Name[en_GB]=keditfiletype
Name[es]=keditfiletype
Name[et]=keditfiletype
Name[eu]=keditfiletype
Name[fi]=keditfiletype
Name[fr]=keditfiletype
Name[gl]=keditfiletype
Name[hu]=keditfiletype
Name[ia]=keditfiletype
Name[id]=keditfiletype
Name[it]=keditfiletype
Name[ko]=keditfiletype
Name[lt]=keditfiletype
Name[nl]=keditfiletype
Name[nn]=keditfiletype
Name[pl]=keditfiletype
Name[pt]=keditfiletype
Name[pt_BR]=keditfiletype
Name[ru]=keditfiletype
Name[sk]=keditfiletype
Name[sl]=keditfiletype
Name[sv]=filtypeditor
Name[tg]=keditfiletype
Name[uk]=keditfiletype
Name[x-test]=xxkeditfiletypexx
Name[zh_CN]=文件类型编辑
Name[zh_TW]=keditfiletype
GenericName=File Type Editor
GenericName[az]=Fayl növü redaktoru
GenericName[ca]=Editor per als tipus de fitxer
GenericName[cs]=Editor typu souboru
GenericName[da]=Redigering af filtyper
GenericName[de]=Dateityp-Editor
GenericName[el]=Επεξεργαστής τ'υπου αρχείου
GenericName[en_GB]=File Type Editor
GenericName[es]=Editor de tipo de archivo
GenericName[et]=Failitüübi redaktor
GenericName[eu]=Fitxategi-mota editorea
GenericName[fi]=Tiedostotyyppimuokkain
GenericName[fr]=Éditeur de type de fichier
GenericName[gl]=Editor de tipos de ficheiro
GenericName[hu]=Fájltípusszerkesztő
GenericName[ia]=Editor de typo de file
GenericName[id]=Pengedit Tipe File
GenericName[it]=Editor dei tipi di file
GenericName[ko]=파일 형식 편집기
GenericName[lt]=Failų tipų redaktorius
GenericName[nl]=Bewerker van bestandstype
GenericName[nn]=Filtyperedigering
GenericName[pl]=Edytor rodzaju pliku
GenericName[pt]=Editor de Tipos de Ficheiros
GenericName[pt_BR]=Editor de tipo de arquivo
GenericName[ru]=Редактор типов файлов
GenericName[sk]=Editor súborových typov
GenericName[sl]=Urejevalnik vrst datotek
GenericName[sv]=Filtypeditor
GenericName[tg]=Муҳаррири навъи файл
GenericName[uk]=Редактор типів файлів
GenericName[x-test]=xxFile Type Editorxx
GenericName[zh_CN]=文件类型编辑器
GenericName[zh_TW]=檔案類型編輯工具
Exec=keditfiletype5
Icon=preferences-desktop-filetype-association
Type=Application
Terminal=false
NoDisplay=true
